fastapi
uvicorn[standard]

# Database
sqlalchemy
aiosqlite
alembic
aiomysql
cryptography

# Auth & Security
python-jose[cryptography]
passlib[bcrypt]

# Validation & Schemas
pydantic
pydantic-settings
email-validator

# File Upload
python-multipart

# Utils
python-dotenv
